<footer class="site-footer">
  <div class="footer-full-width">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h3>Ruby Learning</h3>
          <p>A comprehensive resource for learning Ruby programming through practical tutorials and examples.</p>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h3>Quick Links</h3>
          <ul class="list-unstyled">
            <li><a href="<%= url_for('/') %>">Home</a></li>
            <li><a href="<%= url_for('pages/about/') %>">About</a></li>
            <li><a href="<%= url_for('tutorials/') %>">Tutorials</a></li>
            <li><a href="<%= url_for('blog/') %>">Blog</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <h3>Connect</h3>
          <p>Follow us for the latest Ruby tutorials and updates.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>&copy; <%= Time.now.year %> <%= site["title"] %>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>