---
layout: default
---
<div class="page">
  {% if page.breadcrumbs %}
    <div class="breadcrumbs-wrapper">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ '/' | url_for }}">Home</a></li>
          {% if page.layout == 'tutorial' %}
          <li><a href="{{ 'tutorials/' | url_for }}">Tutorials</a></li>
          <li>{{ page.title }}</li>
          {% elsif page.layout == 'post' %}
          <li><a href="{{ 'tutorials/' | url_for }}">Tutorials</a></li>
          <li>{{ page.title }}</li>
          {% elsif page.permalink == '/tutorials' or page.url == '/tutorials/' or page.title == 'Ruby Tutorials' %}
          <li>Tutorials</li>
          {% else %}
          <li>{{ page.title }}</li>
          {% endif %}
        </ol>
      </nav>
    </div>
  {% endif %}
  {{ content }}
</div>
