---
layout: default
---
<article class="post">
  <header class="post-header">
    {% assign date_format = site.date_format | default: '%B %-d, %Y' %}
    <h1>
      {{ page.title }}
      {% if page.difficulty %}
        <span class="difficulty difficulty-{{ page.difficulty }}">{{ page.difficulty | capitalize }}</span>
      {% endif %}
    </h1>
    <div class="post-meta">
      {% if page.date %}
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{ page.date | date: date_format }}
      </time>
      {% endif %}
      {% if page.tags and page.tags.size > 0 %}
      <div class="tags">
        {% for tag in page.tags %}
        <span class="tag"><a href="{{ 'tags/' | append: tag | append: '/' | url_for }}">{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
</article>
